* {
    box-sizing: border-box;
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div {
    justify-content: center;
    text-align: center;
}

.fireball-notification {
    color: red;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}