* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    font-family: 'Lato', sans-serif;
    width: 100%;
}

div {
    justify-content: center;
    text-align: center;
}

.fireball-notification {
    color: red;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.collectible-notification {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

#container {
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
}

main {
    position: absolute;
    z-index: -1;
}

#healthBarBorder {
    margin-top: 80vh;
    --p: 1;
}

#startDiv {
    color: white;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-image: url('../assets/Kentpocalypse.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
}

#startDiv img{
    width: 150vw;
    height: 80vh;
    transform: translate(-30%, -10%);
}

#startText {
    width: 50%;
    margin-left: 10vw;
    margin-top: 10vh;
    text-align: left;
}

#startTitle {
    font-size: 44px;
    font-family: "VT323", monospace;
    font-weight: 800;
    text-shadow: 4px 4px 8px black;
}

#startDesc {
    text-shadow: 2px 2px 4px black;
    margin-top: 1vh;
    font-family: "VT323", monospace;
}

#startClickables {
    width: 50%;
    margin-top: 75vh;
    position: relative;
}

#startButton {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 12px 20px;
    font-size: 24px;
    cursor: pointer;
    margin: 10px 0px;
    transition: 1s;
    background-color: transparent;
    font-family: "VT323", monospace;
    text-shadow: 4px 4px 8px black;
    box-shadow: 4px 4px 8px black;
}

#startButton:hover{
    border: 3px solid white;
    padding: 14px 24px;
    margin: 8px 0px;
}

#dlzButton{
    position: absolute;
    bottom: 20px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 12px 20px;
    font-size: 24px;
    cursor: pointer;
    margin: 10px 0px;
    transition: 1s;
    background-color: transparent;
    font-family: "VT323", monospace;
    text-shadow: 4px 4px 8px black;
    box-shadow: 4px 4px 8px black;
}

#dlzButton.clicked{
    transition: 1s;
    border: 3px solid red;
    color: red;
    opacity: 75%;
}

#dlzButton:hover{
    border: 3px solid white;
    padding: 14px 24px;
    margin: 8px 0px;
}

#deathDiv {
    color: white;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

#deathBlur {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 50%;
    filter: blur(50);
}

#deathText {
    opacity: 100%;
    margin-top: 30vh;
    font-size: 48px;
    padding: 40px;
    font-family: "VT323", monospace;
    text-shadow: 4px 4px 8px black;
}

#deathButton {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 12px 20px;
    font-size: 24px;
    cursor: pointer;
    margin: 10px 0px;
    margin-top: 5vh;
    transition: 1s;
    background-color: transparent;
    font-family: "VT323", monospace;
    text-shadow: 4px 4px 8px black;
    box-shadow: 4px 4px 8px black;
}


/*
Health Bar
*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*, *:before, *:after {box-sizing:border-box;}

.range {
    position: relative;
    background-color: #333;
    width: 300px;
    height: 30px;
    transform: skew(30deg);
    font-family: "VT323", monospace;
    font-weight: 450;
    font-style: normal;
    overflow: visible;
}

.range::before {
    --width: calc(var(--p) * 1%);
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0fd30f;
    z-index: 0;
    animation: load 3s forwards ease-in-out, glitch 3s linear;
}

.range::after {
    counter-reset: progress var(--p);
    content: counter(progress) '%';
    color: #000;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%) skewX(-30deg);
    z-index: 1;
    justify-content: left;
    align-items: flex-start;
}

.range__label {
    transform: skew(-30deg) translateY(-100%);
    line-height: 1.5;
    width: auto;
    text-shadow: 1px 1px 2px white;
    font-size: 24px;
  }

  @keyframes load {
    to {
        width: var(--width);
    }
  }
  
  @keyframes glitch {
    0%, 5% {
        transform: translate(0, 0);
    }
    1% {
        transform: translate(-5%, -10%);
    }
    2% {
        transform: translate(10%, 30%);
    }
    3%{
        transform: translate(-43%, 10%);
    }
    4% {
        transform: translate(2%, -23%);
    }
  }

  
  #inventoryContainer {
    position: absolute; 
    margin-top: 99vh;
    width: 600px;
    height: 90px;
    background-color: rgb(214, 214, 214);
    border: 2px solid #000;
    border-radius: 0px;
    opacity: 0.35;
  }
  
  .inventorySlot {
    display: inline-block;
    width: 80px;
    height: 60px;
    margin-top: 1.25vh;
    border: 3px solid #000;
    background-color: #686ad8;
    text-align: center;
    margin: 15px;
  }

#depositDiv{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: rgb(0,0,0,.35);
    filter: blur(50);
    
}

#depositImg{
    opacity: 100%;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 0;
    margin-top: 0;
    background-repeat: no-repeat;
}

#depositHeader{
    color: white;
    font-size: 50px;
    font-family: fantasy;
    text-decoration: underline;
}

#depositText{
    color: white;
}
